@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Sriracha');
* {
	box-sizing: border-box;	
}
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;	
}
body {
	margin: 0;
    background-color: #fafafa;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
	float: left;
}

/* HOME */

.home {
    padding-left: 255px;
    height: 750px;
}
.home .main-information {
    width: 475px;
    position: absolute;
    right: 95px;
    top: 125px;
    z-index: 1;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7b7e83;
}
button {
    background-color: #1ebfba;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 30px;
    width: 140px;
    transition: 2s;
    position: absolute;
    right: 0;
    bottom: -50px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
button:hover {
    filter: opacity(0.4);
}

.home img {
    width: 200px;
    height: 200px;
    transform: rotate(50deg);
    margin: 30px;
}
.gallery {
    margin-top: 150px;
    position: relative;
}
.main-picture {
    height: 400px;
    background: url(../images/beach.jpg) center no-repeat;
    background-size: cover;
    width: 400px;
    transform: rotate(50deg);
}
.picture {
    height: 200px;
    width: 200px;
    transform: rotate(50deg);
    position: absolute;
}
.picture1 {
    background: url(../images/wind.jpg) center no-repeat;
    background-size: cover;
    top: 393px;
    left: 216px;
}
.picture2 {
    background: url(../images/nature.jpg) center no-repeat;
    background-size: cover;
    filter: grayscale(0.2);
    top: 265px;
    left: 369px;
}
.picture3 {
    background: url(../images/ship.jpg) center no-repeat;
    background-size: cover;
    top: 290px;
    left: 652px;
}
.picture4 {
    background: url(../images/gdansk.jpg) center no-repeat;
    background-size: cover;
    top: 418px;
    left: 499px;
    filter: grayscale(0.8);
}
.picture5 {
    background: url(../images/tree.jpg) center no-repeat;
    background-size: cover;
    top: 442px;
    left: 780px;
}

/*FOOTER*/
.footer {
    text-align: center;
}
.footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
    width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.footer p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
}
.footer a {
    color: #1ebfba;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.footer .fa {
    border: 2px solid #1ebfba;
    padding: 5px;
    width: 35px;
    border-radius: 15%;
    background-color: white;
    transition: 1s;
    margin-right: 5px;
    margin-left: 5px;
}
.footer a:hover {
    color: white;
}
.footer a:hover .fa {
    background-color: #1ebfba;
}