@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
	box-sizing: border-box;	
}
body {
	margin: 0;
    background-color: #fafafa;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

/* HOME */
.home {
    padding-left: 255px;
    height: 750px;
}
.home #main-information {
    width: 475px;
    position: absolute;
    right: 95px;
    top: 125px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7b7e83;
}
button {
    background-color: #1ebfba;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 30px;
    width: 140px;
    transition: 2s;
    position: absolute;
    right: 0;
    bottom: -50px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
button:hover {
    filter: opacity(0.4);
}
.home img {
    width: 200px;
    height: 200px;
    transform: rotate(50deg);
    margin: 30px;
}
.gallery {
    margin-top: 150px;
    position: relative;
}
.main-picture {
    height: 400px;
    background: url(../images/beach.jpg) center no-repeat;
    background-size: cover;
    width: 400px;
    transform: rotate(50deg);
}
.picture {
    height: 200px;
    width: 200px;
    transform: rotate(50deg);
    position: absolute;
}
.picture1 {
    background: url(../images/wind.jpg) center no-repeat;
    background-size: cover;
    top: 393px;
    left: 216px;
}
.picture2 {
    background: url(../images/nature.jpg) center no-repeat;
    background-size: cover;
    filter: grayscale(0.2);
    top: 265px;
    left: 369px;
}
.picture3 {
    background: url(../images/ship.jpg) center no-repeat;
    background-size: cover;
    top: 290px;
    left: 652px;
}
.picture4 {
    background: url(../images/gdansk.jpg) center no-repeat;
    background-size: cover;
    top: 418px;
    left: 499px;
    filter: grayscale(0.8);
}
.picture5 {
    background: url(../images/tree.jpg) center no-repeat;
    background-size: cover;
    top: 442px;
    left: 780px;
}

/*FOOTER*/
.footer {
    text-align: center;
}
.footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
    width: 800px;
    padding: 10px;
    margin: 0 auto;
}
.footer p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
}
.footer a {
    color: #1ebfba;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
.footer .fa {
    border: 2px solid #1ebfba;
    padding: 5px;
    width: 35px;
    border-radius: 15%;
    background-color: white;
    transition: 1s;
    margin-right: 5px;
    margin-left: 5px;
}
.footer a:hover {
    color: white;
}
.footer a:hover .fa {
    background-color: #1ebfba;
}

/* MIN-WIDTH: 768PX AND MAX-WIDTH: 1199PX; */
@media(min-width: 768px) and (max-width: 1199px) {
    /* HOME */
    .home {
        padding: 20px;
        height: 100%;
    }
    .home .main-information {
        width: 275px;
        position: inherit;
    }
    button {
        font-size: 16px;
        width: 155px;
        padding: 7px;
        position: inherit;
        margin-top: 10px
    }
    .home img {
        width: 200px;
        height: 200px;
        transform: rotate(50deg);
        margin: 30px;
    }
    .gallery {
        margin-top: 50px;
    }
    .main-picture {
        height: 100px;
        width: 100%;
        transform: rotate(0deg)
    }
    .picture {
        height: 100px;
        margin: 5px 0;
        width: 100%;
        transform: rotate(0deg);
        position: initial;
    }
    .picture1, .picture2, .picture3, .picture4, .picture5 {
        top: 0;
        left: 0;
    }

    /*FOOTER*/
    .footer h3 {
        width: 100%;
    }
    .footer p {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    .footer .fa {
        margin: 0;
    }
}

/* MAX-WIDTH: 767PX; */
@media (max-width: 767px) {
    /* HOME */
    .home {
        padding: 20px;
        height: 100%;
    }
    .home .main-information {
        width: 275px;
        position: inherit;
    }
    button {
        font-size: 16px;
        width: 155px;
        padding: 7px;
        position: inherit;
        margin-top: 10px
    }
    .home img {
        width: 200px;
        height: 200px;
        transform: rotate(50deg);
        margin: 30px;
    }
    .gallery {
        margin-top: 50px;
    }
    .main-picture {
        height: 100px;
        width: 100%;
        transform: rotate(0deg)
    }
    .picture {
        height: 100px;
        margin: 5px 0;
        width: 100%;
        transform: rotate(0deg);
        position: initial;
    }
    .picture1, .picture2, .picture3, .picture4, .picture5 {
        top: 0;
        left: 0;
    }

    /*FOOTER*/
    .footer h3 {
        width: 100%;
    }
    .footer p {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    .footer .fa {
        margin: 0;
    }
}
